body {
    background:pink;
}
h1{
    font-size: 50px;
    color:white;
    text-decoration: underline;
    text-align: center;
}
p {
    color:whitesmoke;
        font-size: 36px;
}
h3{
    font-size: 38px;
    color:white;
    text-decoration: underline;
    text-align: center;
}
