body {
    background-image: url("vishesh2.jpg");
    background-size: auto;
    background-repeat: no-repeat;

}
h1{
    font-size:50px;

    text-align: center;
    text-decoration: underline;
    line-height: 10px;
    color:pink;
}

p {
    color:rgb(27, 27, 27);
    font-size: 35px;
    line-height:40px ;
}
a {
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    
}
ul{
    text-decoration-color: white;
}
h3{
    font-size:40px;
    color:pink;
    text-align: center;
    text-decoration: underline;
   
}
