body {
    background:rgb(0, 140, 255);
}
h1{
    font-size:50px;

    text-align: center;
    text-decoration: underline;
    line-height: normal;
    color:pink;
}

p {
    color:whitesmoke;
    font-size: 40px;
    line-height:normal ;
}
a {
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    
}
ul{
    text-decoration-color: white;
}
h3{
    font-size:40px;
    color:pink;
    text-align: center;
    text-decoration: underline;
   
}
